.page.theme_light {
	--shadow-color: #ff8dcb;
	--block-color: #ff8dcb;
	--block-title-color: #353430;
	--title-text-color: #353430;
	--page-title-color: #ffc2e6;
	--main-text-color: #353430;
	--background-color: #fff1f7;
	--decor-color: #353430;
	--hover-color: #35343040;

	--background-image: url('../images/cover-image-light.png');
	--font-family: 'IBM Plex mono', sans-serif;

	--decor-rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
	:root {
		--shadow-color: #ff0070;
		--block-color: #ff8dcb;
		--title-text-color: #353430;
		--page-title-color: #ffc2e6;
		--main-text-color: #353430;
		--background-color: #fff1f7;
		--decor-color: #353430;

		--background-image: url('../images/cover-image-light.png');
		--font-family: 'IBM Plex mono', sans-serif;

		--decor-rec-visibility: hidden;
	}
}
